
body {
    font-family: 'Chivo', sans-serif;
    color: #404042;
    font-size: 18px;
    margin: 0;
}

h1 {
    color: black;
    font-family: 'Chivo', sans-serif;
}

h2 {
    color: black;
    font-family: 'Chivo', sans-serif;
}

h3 {
    color: black;
    font-family: 'Chivo', sans-serif;
}

.container {
    width: 900px;
    margin: 60px auto;
}

.banner {
    background-image: url('images/photo-cv.jpg');
    background-size: cover;
    background-position: center;
    padding: 150px 0;
    text-align: center;
}

.banner h1 {
    color: white;
    font-size: 45px;
    margin: 0;
}

.banner p {
    color: white;
    font-size: 24px;
    opacity: 0.7;
}

.btn-red {
    background-color: rgb(255, 255, 255);
    color: rgb(234, 10, 10);
    padding: 16px 48px;
    border-radius: 4px;
    display: inline-block;
    text-decoration: none;
    transition: .3s;
    font-size: 20px;
    font-weight: bold;
}

.btn-red:hover {
    background-color: rgb(234, 10, 10);
    color: white;
}

.card-skills {
    background: white;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 24px;
    margin: 8px;
    flex-grow: 1;
}

.card-skills img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 4px;
}

.card-skills h3 {
    margin-bottom: 0;
}

.footer {
    background: #404042;
    color: white;
    padding: 10px 0px;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
}

.wrapper .icon{
    position: relative;
    background-color: #ffffff;
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 22px;
    display: inline-block;
    align-items: center;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    color: #333;
    text-decoration: none;
  }
  .wrapper .tooltip {
    position: absolute;
    top: 0;
    line-height: 1.5;
    font-size: 14px;
    background-color: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background-color: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  .wrapper .facebook:hover,
  .wrapper .facebook:hover .tooltip,
  .wrapper .facebook:hover .tooltip::before {
    background-color: #3b5999;
    color: #ffffff;
  
  }
  .wrapper .linkedin:hover,
  .wrapper .linkedin:hover .tooltip,
  .wrapper .linkedin:hover .tooltip::before {
    background-color: #007ed2;
    color: #ffffff;
  }
  .wrapper .github:hover,
  .wrapper .github:hover .tooltip,
  .wrapper .github:hover .tooltip::before {
    background-color: #333333;
    color: #ffffff;
  }

  @media (max-width: 960px) {
    /* For a screen < 960px, this CSS will be read */
    .container {
      width: 700px;
    }
  }
  @media (max-width: 720px) {
    /* For a screen < 720px, this CSS will be read */
    .container {
      width: 500px;
    }
  }
  @media (max-width: 540px) {
    /* For a screen < 540px, this CSS will be read */
    .container {
      width: 300px;
    }
  }